body{
    background-color: aqua;
}
img {
    align-self: center;
}

table {
    background-color: brown;
    color: #fff;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    width: 100%;
    height: 100px;
}

th,
td,
tr {
    border: 3px solid black;
    text-align: center;
}